.bigCounter{
    text-align: center;
    background: black;

}

.bigCounter div{
    display: inline-block;
    font-size: 150px;
    line-height: 100px;
    background-color: rgba(54, 54, 54, 0.021);
    color: white;
    padding: 10px;
}

.seconds{
    font-size: 150px;
    padding: 30px;
}
